#email-sug-wrapper{
    list-style: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 0;
    margin: 0;
    visibility: hidden;
}
#email-sug-wrapper li:hover{
    background-color: yellow;
}
.select{
    background-color: red;
}
.unselect{
    background-color: none;
}